{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content %}

    {#<div align="center">#}
    {#  <h1></h1>#}
    {#  <h1>Welcome to Diaelectic!!!</h1>#}
    {#</div>#}

    {% if create_post %}
        <div>
            <br>
            <form method="post" action="/post">
                <div class="mb-3">
                <textarea type="text" placeholder="write your post" class="form-control" id="post_title"
                          name="title"> </textarea>
                </div>
                <div align="center">
                    <button type="submit" class="btn btn-primary">Create Post</button>
                </div>

            </form>
        </div>
    {% endif %}

    <br>



    {% if posts %}

        {% for post in posts %}

            <div class="card">
                <div class="card-header justify-content-between" style="display: flex; flex-direction: row">
                    <h3>{{ post.title }}</h3>
                    <button class="btn btn-sm" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ post.id }}"
                            aria-expanded="false" aria-controls="collapse{{ post.id }}">
                        {{ post.comments.size }} Comments
                    </button>
                </div>

                <div class="collapse" id="collapse{{ post.id }}">
                    <div class="card-body">
                        {% for comment in post.comments._items %}

                            <div class="justify-content-between" style="display: flex; flex-direction: row">
                                <h5>{{ comment.title }}</h5>
                                <button class="btn btn-sm btn-danger" type="button"> x</button>
                            </div>
                            <p>by <b>{{ comment.username }}</b> at <b>{{ comment.created_at }}</b></p>
                            <hr>

                        {% endfor %}
                        <br>
                        <form method="post" action="/comment/{{ post.id }}">
                            <div class="input-group mb-3">
                                <input name="title" type="text" class="form-control" placeholder="Add your comment"
                                       aria-label="Comment" aria-describedby="button-addon2">
                                <button class="btn btn-outline-primary" type="submit" id="button-addon2">Comment
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer justify-content-between" style="display: flex; flex-direction: row">
                        <div>{{ post.created_at }}</div>
                        <div>By <b>{{ post.username }}</b></div>
                    </div>
                </div>
            </div>
            <br>

        {% endfor %}

    {% else %}
        <p>No post available</p>

    {% endif %}


    </div>

{% endblock %}
