{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}
<form method="POST">
  <h3 align="center">Login</h3>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
  <div class="form-group">
    <label for="email">Username</label>
    <input
            required
      type="text"
      id="username"
      name="username"
      class="form-control"
      placeholder="Enter Username"
    />
    <label for="password">Password</label>
    <input
            required
      type="password"
      id="password"
      name="password"
      class="form-control"
      placeholder="Enter Password"
    />
    <br />
    <div align="center">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </div>
</form>
{% endblock %}
